
* {
	  box-sizing: border-box;
}
body{
	padding-top: 2.6em;
  /*min-width:350px;        
   width: auto !important;  
   width:350px; */
}
.kartyak {
  border: 0.1em solid gray;
}
.kartyak:after {
  content: "";
  display: table;
  clear: both;
}
.column1 {
  float: left;
  width: 10%;
  height: 12em;
  border: 0.1em solid green;
  min-width: 8em;
}
.column2 {
  float: left;
  height: 12em;
  padding-top: 2.5em;
  border: 0.1em solid green;
  width: 20%;

}
.column3 {
  overflow:hidden;
  height: 12em;
  
  border: 0.1em solid green;
  /*width: 60%;*/

  

}
.column1, .column2, .column3{
  margin-top: 1em;
  margin-bottom: 1em;
  margin-right: 1%;
  margin-left: 1%;
}
.column1 img {
	height: 10em;
	width: 80%;
	margin: 9%;
}
.column3 p{
  float: left;
  width: 25%;
  text-align: center;
  padding-top: 3.5em;

  /*margin: 0 auto;*/
}
table {
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	/*float: left;*/
  	text-align: center;
  	
  	-webkit-touch-callout: none; 
    -webkit-user-select: none;   
    -khtml-user-select: none;    
    -moz-user-select: none;      
    -ms-user-select: none;       
    user-select: none; 
}
td:hover{
	background-color: green;
}
.popup{
	display: none;
	position: absolute;
	border: 0.1em solid grey;

}
td{
	cursor:  pointer;
}
.popup > p{
	padding-top: 10%;
	padding-bottom: 10%;
	margin-top: 0;
	margin-bottom: 0;
}
.popup > p:not(:first-child){
	cursor:  pointer;
}
.popup > p:not(:first-child):hover{
	background-color: yellow;
}
.keres{
	margin: auto;
  	width: 50%;
  	border: 3px solid green;
  	padding: 10px;
  	text-align: center;
}
/*#keresesi_mezo{
  width: 100%;
}*/

@media only screen and (max-width: 950px) {
  .column1{
    width: 10em;
    /*height: 20em;*/
    /*height: auto;*/
    /*min-width: 6em;*/
  }
  /*.column1 > img {
    height: 17.5em;
  }*/
  .column2{
    width: auto;
    float: none;
    overflow: hidden;
    
    /*width: 100%;*/
    /*width: 75%;*/
  }
  .column2{
    padding-top: 5%;
    /*width: 100%;*/
    /*text-align: center;*/
  }
  .column3{
    width: 98%;
  }
}
@media only screen and (max-width: 660px) {
  .column1, .column2, .column3{
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
  }
  .column1{
    /*min-width: 6em;*/
    height: auto;
    /*margin: 0;*/
    padding: 0;
  }
  .column1 img{
    margin: 5%;
    padding: 0;
    width: 90%;
    height: auto;
  }
  .column2{
    padding-top: 7%;
  }
  .column3 > p{
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    padding: 1em;
  }

  input[type=text]{
    width: 100%;
  }
}